# Fraud in Electricity and Gas Consumption #

### Since 2 datasets were provided, we attempt to combine both datasets into 1 on the id columm. ###

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

C:\Users\Xander\AppData\Local\Temp\ipykernel_21088\2080034654.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
invoice_df = pd.read_csv('invoice.csv')
client_df = pd.read_csv('client.csv')

combined_df = pd.merge(client_df, invoice_df, on='id', how='left')

In [3]:
combined_df.head()

,region,date_x,dis,id,catg,target,date_y,tarif_type,counter_number,counter_statue,...,reading_remarque,consommation_level_4,old_index,new_index,months_number,counter_type,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3
0,101,31/12/1994,60,train_Client_0,11,0,24/3/2014,11,1335667.0,0,...,8,0,14302,14384,4,ELEC,1,82,0,0
1,101,31/12/1994,60,train_Client_0,11,0,29/3/2013,11,1335667.0,0,...,6,0,12294,13678,4,ELEC,1,1200,184,0
2,101,31/12/1994,60,train_Client_0,11,0,23/3/2015,11,1335667.0,0,...,8,0,14624,14747,4,ELEC,1,123,0,0
3,101,31/12/1994,60,train_Client_0,11,0,13/7/2015,11,1335667.0,0,...,8,0,14747,14849,4,ELEC,1,102,0,0
4,101,31/12/1994,60,train_Client_0,11,0,17/11/2016,11,1335667.0,0,...,9,0,15066,15638,12,ELEC,1,572,0,0

In [4]:
combined_df.describe()

,region,dis,catg,target,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,consommation_level_4,old_index,new_index,months_number,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3
count,500651.000000,500651.000000,500651.000000,500651.000000,500651.000000,5.006510e+05,500651.000000,500651.000000,500651.000000,500651.000000,5.006510e+05,5.006510e+05,500651.000000,500651.000000,500651.000000,500651.000000,500651.000000
mean,204.746922,63.519156,11.353871,0.062644,16.108279,1.951034e+11,0.050217,204.390755,7.463710,64.393150,1.575969e+04,1.639037e+04,22.744289,1.000154,443.065463,120.508706,28.196772
std,104.620488,3.388720,3.661420,0.242323,11.145881,2.071552e+12,0.396153,121.204514,1.374409,1230.465569,2.975733e+04,3.053707e+04,1670.624818,0.047150,592.249623,1396.817086,214.020756
min,101.000000,60.000000,11.000000,0.000000,9.000000,0.000000e+00,0.000000,5.000000,6.000000,0.000000,0.000000e+00,0.000000e+00,1.000000,1.000000,0.000000,0.000000,0.000000
25%,101.000000,62.000000,11.000000,0.000000,11.000000,1.477220e+05,0.000000,202.000000,6.000000,0.000000,1.799000e+03,2.165000e+03,4.000000,1.000000,99.000000,0.000000,0.000000
50%,107.000000,62.000000,11.000000,0.000000,11.000000,4.857010e+05,0.000000,203.000000,8.000000,0.000000,7.876000e+03,8.438000e+03,4.000000,1.000000,321.000000,0.000000,0.000000
75%,307.000000,69.000000,11.000000,0.000000,11.000000,1.008740e+06,0.000000,207.000000,9.000000,0.000000,2.092750e+04,2.164500e+04,4.000000,1.000000,661.000000,0.000000,0.000000
max,399.000000,69.000000,51.000000,1.000000,45.000000,2.740000e+13,5.000000,600.000000,9.000000,343568.000000,2.800280e+06,2.870972e+06,231602.000000,20.000000,98889.000000,819886.000000,45360.000000

In [5]:
print(f"Length of dataset: {len(combined_df)}")


print(f"Number of datapoints in each column: \n{combined_df.count()} \n")

Length of dataset: 500651
Number of datapoints in each column:
region                  500651
date_x                  500651
dis                     500651
id                      500651
catg                    500651
target                  500651
date_y                  500651
tarif_type              500651
counter_number          500651
counter_statue          500651
counter_code            500651
reading_remarque        500651
consommation_level_4    500651
old_index               500651
new_index               500651
months_number           500651
counter_type            500651
counter_coefficient     500651
consommation_level_1    500651
consommation_level_2    500651
consommation_level_3    500651
dtype: int64

In [6]:
number_of_fraud = sum(combined_df["target"] == 1)
print(number_of_fraud)
print(f"proportion of fraud: {number_of_fraud/len(combined_df)}")

31363
proportion of fraud: 0.06264443694310008

#### We have created 3 new variables, described as such:
##### delta_start_invoice: diff between join and transaction date
##### delta_index: diff between old and new index
##### delta_transactions: diff between transactions over the same client

In [12]:
dates = {'join_date': combined_df['date_x'], 'transaction_date': combined_df['date_y']}
dates_df = pd.DataFrame(dates)
dates_df['join_date'] = pd.to_datetime(dates_df['join_date'], format='%d/%m/%Y')
dates_df['transaction_date'] = pd.to_datetime(dates_df['transaction_date'], format='%d/%m/%Y')
# dates_df['delta_start_invoice'] = combined_df['date_y'].apply(lambda x: (x - combined_df['date_x']).dt.days)

dates_df.head()

   join_date transaction_date
0 1994-12-31       2014-03-24
1 1994-12-31       2013-03-29
2 1994-12-31       2015-03-23
3 1994-12-31       2015-07-13
4 1994-12-31       2016-11-17

In [7]:
client_summary = combined_df.groupby('id').agg({
    'counter_number': ['sum', 'mean', 'max', 'min'],
    'counter_statue': 'nunique',
    'reading_remarque': 'mean',
    'counter_coefficient': 'sum',
    'consommation_level_1': 'sum',
    'consommation_level_2': 'sum',
    'consommation_level_3': 'sum'
})
client_summary.head()

                  counter_number                                   \
                             sum       mean        max        min
id
train_Client_0        46748345.0  1335667.0  1335667.0  1335667.0
train_Client_1        25119374.0   678902.0   678902.0   678902.0
train_Client_10       10309770.0   572765.0   572765.0   572765.0
train_Client_100         41560.0     2078.0     2078.0     2078.0
train_Client_1000       274050.0    19575.0    19575.0    19575.0

                  counter_statue reading_remarque counter_coefficient  \
                         nunique             mean                 sum
id
train_Client_0                 1         6.971429                  35
train_Client_1                 1         7.216216                  37
train_Client_10                1         7.055556                  18
train_Client_100               1         6.150000                  20
train_Client_1000              1         8.857143                  14

                  consommation_level_1 consommation_level_2  \
                                   sum                  sum
id
train_Client_0                   12334                  370
train_Client_1                   20629                    0
train_Client_10                  14375                  682
train_Client_100                    24                    0
train_Client_1000                 9292                 1468

                  consommation_level_3
                                   sum
id
train_Client_0                       0
train_Client_1                       0
train_Client_10                      0
train_Client_100                     0
train_Client_1000                 1643